@font-face {
  font-family: 'Avenir Next';
  src: url('fonts/AvenirNextCyr-UltraLight.eot');
  src: url('fonts/AvenirNextCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
  url('fonts/AvenirNextCyr-UltraLight.woff') format('woff'),
  url('fonts/AvenirNextCyr-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('fonts/AvenirNextCyr-Regular.eot');
  src: url('fonts/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/AvenirNextCyr-Regular.woff') format('woff'),
  url('fonts/AvenirNextCyr-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('fonts/AvenirNextCyr-Demi.eot');
  src: url('fonts/AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'),
  url('fonts/AvenirNextCyr-Demi.woff') format('woff'),
  url('fonts/AvenirNextCyr-Demi.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('fonts/AvenirNextCyr-Bold.eot');
  src: url('fonts/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/AvenirNextCyr-Bold.woff') format('woff'),
  url('fonts/AvenirNextCyr-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --logo: #666;
  --title: #000;
  --illustrator: #ff0000;
  --pink: #b6009c;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Avenir Next';
}
a {
  text-decoration: none;
}

.wrapper {
  max-width: 1160px;
  margin: 0 auto;
}

header {
  margin: 64px 0 80px;
}

header .logo {
  margin-bottom: 104px;
}

header .logo a {
  font-weight: 200;
  color: var(--logo);
  font-size: 42px;
}

header .we-are h2 {
  font-size: 68px;
  font-weight: bold;
  line-height: 1.22;
  color: var(--title);
}

.about .wrapper {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.about .about-items,
.about .illustrator {
  max-width: 46%;
}

.about .about-items {
  color: var(--title);
}

.about .about-item {
  padding-top: 80px;
}

.about .about-item h3 {
  font-size: 39px;
  font-weight: bold;
  line-height: 1.26;
}

.about .about-item .text {
  font-size: 22px;
  font-weight: normal;
}

.about .about-item p {
  margin-top: 16px;
  font-weight: 400;
  font-size: 22px;
}

.about .illustrator {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-30deg);
  font-size: 79px;
  font-weight: bold;
  color: var(--illustrator);
}

.images .image-items,
.jobs .job-items {
  display: flex;
  flex-wrap: wrap;
}

.images .image-items .image-item {
  margin-top: 40px;
}

.jobs .wrapper {
  padding-top: 80px;
}

.jobs h3 {
  font-size: 39px;
  font-weight: bold;
  line-height: 1.26;
  margin-bottom: 16px;
  color: var(--title);
}

.job-items .job-item a {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.75;
  color: var(--pink);
}


footer {
  padding-top: 80px;
}

footer h3 {
  margin-bottom: 9px;
}

footer form .item {
  width: calc(100% / 12 * 6);
  margin-bottom: 14px;
  position: relative;
  height: 80px;
  display: flex;
  align-items: flex-end;
}

footer form .item input {
  border: none;
  outline: none;
  border-bottom: 2px solid var(--pink);
  padding: 5px 10px;
  width: 100%;
}

footer form .item label {
  position: absolute;
  bottom: 5px;
}

footer form .item input,
footer form .item label {
  font-size: 22px;
  font-weight: 400;
  color: var(--title);
  transition: all .3s;
}

footer form .item input:focus ~ label {
  bottom: 53px;
  font-size: 14px;
}

footer form .item button {
  padding: 13px 91px;
  border: none;
  outline: none;
  border-radius: 32px;
  background-color: var(--pink);
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2.33px;
  color: var(--white);
}