@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextCyr-UltraLight.eot');
  src: url('../fonts/AvenirNextCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-UltraLight.woff') format('woff'),
  url('../fonts/AvenirNextCyr-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextCyr-Regular.eot');
  src: url('../fonts/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-Regular.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextCyr-Demi.eot');
  src: url('../fonts/AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-Demi.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Demi.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextCyr-Bold.eot');
  src: url('../fonts/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-Bold.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --logo: #666;
  --title: #000;
  --illustrator: #ff0000;
  --pink: #B6009C;
  --white: #fff;
  --yellow: #f9c900;
  --item-text: #56658b;
  --body: rgba(33,33,46,0.76);
  --toolpit: #70F1AE;
  --inputBorder: #808080;
}

:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {  
  color: #444444;
  font-size: 18px;
  font-family: 'Avenir Next', monospace;
}

img {
  height: auto;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  overflow: visible;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  color: var(--title);
  font-family: 'Avenir Next';
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.blured {
  filter: blur(4px);
}

.wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  margin: 64px 0 80px;
}

header .header {
  display: flex;
  justify-content: space-between;
}

header .logo {
  margin-bottom: 104px;
}

header .logo a {
  display: inline-block;
}

header .logo a:hover img{
  filter: sepia(100%);
}

.header button {
  border-radius: 8px;
  padding: 5px 10px;
  text-transform: uppercase;
  margin-left: 42px;
  border: 3px solid transparent;
}

.header button:hover {
  border: 3px solid #B6009C;
}

.header button.active {
  background-color: var(--toolpit);
}

.header button a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  font-weight: 600;
  color: var(--title);
}

.we-are h2 {
  font-size: 2.7em;
  font-weight: 700;
  color: var(--title);
}

.we-are__img {
  display: none;
}

.smaller {
  display: none;
}

.about .wrapper {
  display: flex;
  justify-content: space-between;
}

.about .about-items {
  color: var(--title);
  width: calc(100% / 12 * 6);
}

.puzzle, .service-img {
  display: none;
}

.about .about-item {
  padding-top: 80px;
}

.about .about-item h3 {
  font-family: 'Avenir Next';
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 16px;
  line-height: 49px;
}

.about .about-item p .dotted {
  font-weight: 600;
  /* text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-position: under;
  text-decoration-color: var(--pink); */
  border-bottom: 1px dotted var(--pink);
}

.about .about-item p .dotted.active {
  cursor: pointer;
  border-bottom: 3px solid var(--pink);
}

.about .technologies {
  margin-top: 19px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.technologies img {
  filter: grayscale(1);
  border: 2px solid transparent;
  width: 64px;
  height: 64px;
  border-radius: 24px;
  padding: 10px;
  transition: all .5s ease;
}
.about .technologies .img-wrapper.active img {
  filter: none;
  border-color: var(--pink)
}

.about .philosphy .text p:first-child {
  position: relative;
}

.technologies .tooltip,
.about .philosphy .tooltip {
  display: none;
  position: absolute;
  width: 350px;
}

.technologies .tooltip .qwe,
.about .philosphy .tooltip .qwe {
  width: 350px;
  font-size: 0.9em;
  background-color: var(--toolpit);
  transition: all .5s ease;
  border-radius: 20px;
  padding: 10px 20px;
  display: inline-block;
}

.about .technologies .img-wrapper.active .tooltip,
.about .philosphy .dotted.active .tooltip{
  display: block;
  z-index: 10;
  border-bottom: 20px solid transparent;
  font-weight: normal;
}



.tooltip-border {
  background-image: url('../img/fake.png');
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 4%;
  left: 2%;
  border-radius: 13px;
}

footer .tooltip-border {
  top: 7%;
}

.about .technologies .img-wrapper.active .tooltip a,
.about .philosphy .dotted.active .tooltip a {
  position: relative;
  color: var(--title);
  font-weight: 600;
  border-bottom: 2px solid var(--title);
}

.about .technologies .img-wrapper.active .tooltip a:hover,
.about .philosphy .dotted.active .tooltip a:hover {
  border-bottom-width: 4px;
  font-weight: 700;
}

.about .technologies .img-wrapper.active .tooltip a:after,
.about .philosphy .dotted.active .tooltip a:after{
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  right: -15px;
  background-image: url('../img/Outbound.svg');
  background-position: left center;
  background-size: cover;
}

.about .technologies .tooltip span,
.about .philosphy .tooltip .bold {
  font-weight: 700;
}

.figure-before {
  display: none;
  border: 13px solid transparent;
  border-top: 13px solid var(--toolpit);
  position: absolute;
  top: -20px;
  left: 18px;
  z-index: 10;
}

.about .technologies .technologies-item {
  margin-right: 10px;
}

.about .technologies .technologies-item span {
  font-weight: 700;
}

.about .technologies .technologies-item figure {
  position: relative;
}

.about .technologies .technologies-item figcaption {
  top: -175px;
  left: -58px;
}

.about .technologies .technologies-item figcaption.nodejs {
  top: -273px;
}

.about .technologies .technologies-item figcaption.nodejs:before {
  bottom: -8%;
}

.about .technologies .technologies-item figcaption.hotjar {
  top: -197px;
}

.about .technologies .technologies-item figcaption.hotjar:before {
  bottom: -13%;
}

.about .technologies .technologies-item figcaption.html5 {
  top: -152px;
}

.about .technologies .technologies-item figcaption:before {
  /* content: ''; */
  border: 13px solid transparent;
  border-top: 13px solid var(--toolpit);
  position: absolute;
  bottom: -14%;
  left: 78px;
}

.about .technologies .technologies-item:first-child figcaption {
  left: 0;
  width: 450px;
}

.about .technologies .technologies-item:first-child figcaption:before {
  left: 20px;
}

.about .technologies .technologies-item img {
  filter: grayscale(1);
  border: 2px solid transparent;
  width: 64px;
  height: 64px;
  border-radius: 24px;
  padding: 10px;
  transition: all .5s ease;
}

/* .about .technologies .technologies-item img:hover {
  filter: none;
  border-color: var(--pink)
} */

.about .technologies .technologies-item img.active {
  filter: none;
  border-color: var(--pink)
}

/* .about .technologies .technologies-item img:hover + figcaption {
  display: block;
  z-index: 10;
} */

.about .technologies .technologies-item img.active + figcaption {
  display: block;
  z-index: 10;
}

.images .wrapper.centring {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-items {
  z-index: 1000;
  transition: all .5s ease;
}

.image-items .image-item {
  color: var(--title);
}

.on-slider {
  display: none;
}

.image-items .image-item .in-slider img {
  filter: grayscale(1);
  transition: filter .5s ease;
}

.image-items .image-item .item-title,
.jobs .jobs-title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 16px;
  color: var(--title);
}

.image-items .image-item .item-text,
.jobs .jobs-text {
  font-size: 18px;
  font-weight: 400;
}

.image-items .image-item .item-link {
  margin-top: 10px;
}

.image-items .image-item a {
  color: var(--pink);
  font-weight: 700;
  position: relative;
  display: inline-block;
}

.image-items .image-item a:hover:after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-image: url('../img/Outbound.svg');
  background-position: left center;
  background-size: cover;
  right: -12px;
}

.image-items .image-item:not(.slick-current) a:hover {
  cursor: default;
  pointer-events: none;
}

.image-items .image-item:not(.slick-current) a:hover:after {
  display: none;
}

.image-items .image-item .in-slider img:hover {
  filter: none;
}

.slide .slider-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  overflow-y: scroll;
}

.slide .slick-next {
  right: 50%;
}

/*SLICK*/

.slick-slide {
  margin: 0 5px;
}

.slick-list {
  padding-left: 0px!important;
}

.slick-prev {
  display: none !important;
}

.slick-next {
  background-color: #70F1AE;
  border: 4px solid #B6009C;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  transition: all .5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  left: auto;
}

.slick-next:after {
  background-color: #FFFFFF;
  border-radius: 100%;
  opacity: 0.75;
  width: 104px;
  height: 104px;
  position: absolute;
}

.slick-prev:before, .slick-next:before {
  opacity: 1;
  color: #B6009C;
  position: absolute;
  font-family: inherit;
  font-size: 35px;
  width: 20px;
}

.slick-next:before {
  content: url(../img/arrow-right-solid.svg);
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background: #70F1AE;
}

.image-item.slick-slide.slick-current .on-slider{
  opacity: 1;
}
/* image-item slick-slide slick-active */
.image-item.slick-slide .on-slider{
  opacity: 0.5;
}

.jobs .job-items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.jobs .wrapper {
  padding-top: 80px;
}

.jobs .job {
  width: calc(100% / 12 * 6);
}

/* .jobs .job p {
  font-family: 'Avenir Next';
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
} */

.job-items {
  display: flex;
  flex-direction: column;
}

.job-items .job-item {
  margin-bottom: 16px;
  width: fit-content;
}

.job-items .job-item a {
  position: relative;
  font-size: 1em;
  font-weight: 600;
  color: var(--pink);
}

/* .job-items .job-item a:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url('../img/Outbound.svg');
  background-position: left center;
  background-size: cover;
  right: -20px;
} */

.job-items .job-item a:hover {
  text-decoration: underline;
}

.job-items .job-item a:hover:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  right: -15px;
  background-image: url(../img/Outbound.svg);
  background-position: left center;
  background-size: cover;
}

footer {
  padding: 80px 0 80px;
  color: var(--title);
}

footer h3 {
  margin-bottom: 50px;
  font-size: 1.4em;
  font-weight: 700;
}

footer form .item {
  width: calc(100% / 12 * 6);
  margin-bottom: 59px;
  position: relative;
  display: flex;
  align-items: flex-end;
}

footer form .item img {
  width: 22px;
  margin-right: 5px;
}

footer form .item input,
footer form .item textarea {
  outline: none;
  border: 1px solid var(--inputBorder);
  border-radius: 24px;
  padding: 20px 24px;
  width: 100%;
  font-size: 1em;
  font-weight: 600;
  height: 75px;
}

footer form .item textarea {
  resize: none;
  display: block;
  overflow: hidden;
}

footer form .item label {
  position: absolute;
  top: 30px;
  left: 24px;
  height: min-content;
  font-size: 18px;
  font-weight: 400;
  transition: all .3s;
  display: flex;
  align-items: center;
}

footer form .item .input-tooltip,
footer form .textarea .input-tooltip {
  position: absolute;
  left: 110%;
  white-space: nowrap;
  top: 20%;
  padding: 10px 27px 14px 33px;
  background-color: var(--toolpit);
  border-radius: 25px;
  font-size: 0.9em;
  font-weight: 700;
}

footer form .item .input-tooltip:after {
  content: '';
  border: 13px solid transparent;
  border-right: 13px solid var(--toolpit);
  position: absolute;
  left: -21px;
  top: 20%;
}

footer form .item input:hover,
footer form .item textarea:hover {
  border: 2px solid var(--title);
}

footer form .item input.invalid,
footer form .item textarea.invalid {
  box-shadow: 0 0 1px 2px var(--toolpit);
  border: 2px solid var(--title);
}

footer form .item input.typed:focus,
footer form .item input.typed,
footer form .item textarea.typed:focus,
footer form .item textarea.typed {
  box-shadow: 0 0 1px 2px var(--toolpit);
  border: 2px solid var(--title);
}

footer form .item input.typed ~ label,
footer form .item input.invalid ~ label,
footer form .item textarea.typed ~ label,
footer form .item textarea.invalid ~ label {
  top: -30px;
  font-size: 0.8em;
}


footer form .item button img {
  margin-right: 10px;
}


footer .after-subm {
  display: none;
}

footer .after-subm .well {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 32px;
}

footer .after-subm .another {
  color: var(--pink);
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  width: max-content;
}

footer form .item button {
  padding: 11px 55px;
  border: none;
  outline: none;
  border-radius: 32px;
  background-color: var(--pink);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.83px;
}

@media screen and (max-width: 886px){

  .we-are__img {
    display: block;
    margin-top: 20px;
  }

  .we-are__img img {
    width: 100%;
  }

  p {
    font-size: 20px;
    line-height: 30px;
  }
  
  .about .about-items,
  .jobs .job {
    width: 100%;
  }

  .about .technologies {
    position: relative;
  }
  
  .about .technologies .technologies-item figure {
    position: static;
  }


  .puzzle, .service-img {
    display: block;
  }
  .puzzle {
    position: relative;
    height: 150px;
    margin: 40px auto 0;
    padding: 0 20px;
    width: 320px;
  }
  .puzzle.active {
    width: 100vw;
    height: 100vh;
  }

  .shake-slow {
    animation-name: shake-slow;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
  }
  
  .puzzle .puzzle-item {
    position: absolute;
    transition: all 1.5s;
    display: inline-block;
    /* animation-delay: 1s; */
    transition-delay: 2s;
  }
  /* .puzzle .puzzle-item.moved {
    top: -100%;
    left: -100%;
  } */
  
  .puzzle .puzzle-face {
    position: absolute;
    left: 0;
    bottom: 5px;
  }
  
  .puzzle .puzzle-item__1 {
    top: 0;
    left: 0;
  }
  .puzzle .puzzle-item__1.moved {
    top: 56px;
    left: 160px;
  }
  
  .puzzle .puzzle-item__2 {
    top: -8px;
    left: 72px;
  }
  .puzzle .puzzle-item__2.moved {
    left: 10px;
    top: 70px;
  }
  
  .puzzle .puzzle-item__3 {
    left: 146px;
    top: -9px;
  }
  .puzzle .puzzle-item__3.moved {
    left: 227px;
    top: 64px;
  }
  
  .puzzle .puzzle-item__4 {
    top: -8px;
    left: 220px;
  }
  .puzzle .puzzle-item__4.moved {
    top: 57px;
    left: 95px;
  }
  
  .puzzle .puzzle-item__5 {
    left: 10px;
    top: 70px;
  }
  .puzzle .puzzle-item__5.moved {
    top: -8px;
    left: 72px;
  }
  
  .puzzle .puzzle-item__6 {
    top: 57px;
    left: 95px;
  }
  .puzzle .puzzle-item__6.moved {
    top: -8px;
    left: 220px;
  }
  
  .puzzle .puzzle-item__7 {
    top: 56px;
    left: 160px;
  }
  .puzzle .puzzle-item__7.moved {
    top: 0;
    left: 0;
  }
  
  .puzzle .puzzle-item__8 {
    left: 227px;
    top: 64px;
  }
  .puzzle .puzzle-item__8.moved {
    left: 155px;
    top: -14px;
  }
  
  .puzzle .puzzle-item__8 .puzzle-face {
    left: auto;
    bottom: 5px;
    right: -9px;
  }
  

  .about .service-img {
    margin-top: 48px;
    position: relative;
    animation: serviceImg 2s ease-in infinite;
  }

  .about .service-img img {
    position: relative;
  }

  .images {
    margin-top: 30px;
  }

  .slick-next {
    right: 0;
  }

  .image-items .image-item a:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url('../img/Outbound.svg');
    background-position: left center;
    background-size: cover;
    right: -20px;  
  }

  .job-items .job-item a:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url('../img/Outbound.svg');
    background-position: left center;
    background-size: cover;
    right: -20px;
  }

}


@media screen and (max-width: 484px) {

  .title, .text, .job {
    font-size: 20px;
    font-weight: 400;
    padding: 0 32px 0 17px;
  }

  header {
    margin: 24px 9px 42px;
  }

  header .header {
    align-items: center;
  }

  header .logo {
    margin-bottom: 0;
  }

  header .languages {
    margin-left: 103px;
    text-align: right;
  }

  .header button {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .header button:last-child {
    margin-bottom: 0;
  }

  .we-are h2 {
    display: none;
  }

  .we-are h2.smaller {
    display: block;
    font-size: 36px;
  }

  footer form .item {
    width: 100%;
  }

  .about .technologies .technologies-item {
    width: 17%;
  }

  footer form .item {
    width: auto;
  }

  footer form .item label {
    top: 20px;
  }

  footer form .item .input-tooltip,
  footer form .textarea .input-tooltip {
    display: none;
  }

}

@media screen and (max-width: 375px) {
  .puzzle {
    left: -10px;
  }

}

/* -------------------------------------------- */

.theme-black {
  background-color: #000;
  color: #fff;
}

.theme-black a {
  color: #fff;
}

.theme-white {
  background-color: #fff;
  color: #000;
}

.theme-white a {
  color: #000;
}


@keyframes serviceImg {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}


@keyframes shake-slow {
  2% {
    transform: translate(2px, 1px) rotate(-0.5deg); }
  4% {
    transform: translate(-5px, -9px) rotate(-2.5deg); }
  6% {
    transform: translate(5px, 3px) rotate(2.5deg); }
  8% {
    transform: translate(5px, 4px) rotate(1.5deg); }
  10% {
    transform: translate(-4px, -8px) rotate(-0.5deg); }
  12% {
    transform: translate(-2px, -9px) rotate(1.5deg); }
  14% {
    transform: translate(0px, 6px) rotate(3.5deg); }
  16% {
    transform: translate(8px, 2px) rotate(2.5deg); }
  18% {
    transform: translate(-4px, -1px) rotate(1.5deg); }
  20% {
    transform: translate(10px, 2px) rotate(-2.5deg); }
  22% {
    transform: translate(-2px, -4px) rotate(1.5deg); }
  24% {
    transform: translate(-8px, 5px) rotate(-0.5deg); }
  26% {
    transform: translate(-3px, -5px) rotate(3.5deg); }
  28% {
    transform: translate(6px, 2px) rotate(2.5deg); }
  30% {
    transform: translate(-5px, -2px) rotate(2.5deg); }
  32% {
    transform: translate(5px, -6px) rotate(-2.5deg); }
  34% {
    transform: translate(5px, -7px) rotate(-1.5deg); }
  36% {
    transform: translate(3px, -9px) rotate(0.5deg); }
  38% {
    transform: translate(6px, -2px) rotate(-0.5deg); }
  40% {
    transform: translate(-4px, -2px) rotate(0.5deg); }
  42% {
    transform: translate(7px, -8px) rotate(1.5deg); }
  44% {
    transform: translate(-4px, 10px) rotate(-1.5deg); }
  46% {
    transform: translate(-3px, 8px) rotate(-1.5deg); }
  48% {
    transform: translate(3px, 6px) rotate(-0.5deg); }
  50% {
    transform: translate(4px, -1px) rotate(-2.5deg); }
  52% {
    transform: translate(1px, 5px) rotate(-0.5deg); }
  54% {
    transform: translate(-3px, 7px) rotate(-2.5deg); }
  56% {
    transform: translate(3px, 3px) rotate(-2.5deg); }
  58% {
    transform: translate(-8px, -5px) rotate(-1.5deg); }
  60% {
    transform: translate(1px, -9px) rotate(3.5deg); }
  62% {
    transform: translate(0px, -3px) rotate(-0.5deg); }
  64% {
    transform: translate(4px, 2px) rotate(2.5deg); }
  66% {
    transform: translate(4px, 10px) rotate(1.5deg); }
  68% {
    transform: translate(1px, 2px) rotate(-2.5deg); }
  70% {
    transform: translate(-9px, 10px) rotate(0.5deg); }
  72% {
    transform: translate(-5px, -8px) rotate(0.5deg); }
  74% {
    transform: translate(-3px, -8px) rotate(3.5deg); }
  76% {
    transform: translate(-1px, 8px) rotate(3.5deg); }
  78% {
    transform: translate(-5px, -4px) rotate(0.5deg); }
  80% {
    transform: translate(-6px, 1px) rotate(1.5deg); }
  82% {
    transform: translate(-5px, -7px) rotate(1.5deg); }
  84% {
    transform: translate(1px, -6px) rotate(-0.5deg); }
  86% {
    transform: translate(-8px, -4px) rotate(3.5deg); }
  88% {
    transform: translate(-6px, 7px) rotate(-1.5deg); }
  90% {
    transform: translate(9px, 6px) rotate(-2.5deg); }
  92% {
    transform: translate(9px, -8px) rotate(3.5deg); }
  94% {
    transform: translate(3px, 3px) rotate(2.5deg); }
  96% {
    transform: translate(-6px, -7px) rotate(2.5deg); }
  98% {
    transform: translate(5px, -2px) rotate(-0.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}